
#img1{
	text-align: center;
	background-color: black;
	color: white;
}

#img2{
	text-align: center;
	background-color: black;
	color: white;
}

#img3{
	text-align: center;
	background-color: black;
	color: white;
}

#foto1{
	padding: 15px;
}

#titulo0{
	text-align: center;
	color:black;
}

#titulo{
	text-align: center;
	color: red;
}

#not1{
	padding: 20px;
	width: 450px;
	height:400px;
	float:left;
	text-align: center;
	color: black;
}

#not2{
	padding: 20px;
	width: 450px;
	height: 400px;
	float:left;
	text-align: center;
}

#noti1{
	padding: 20px;
	text-align: justify;
}

#video1{
	text-align: center;
	padding: 20px;
}

video{
	width: 80%;
	height: auto;
}