/*Configuração de imagem*/

img
{
    width: 450px;
    height:450px;
}
/*Configuração do body*/
body{
	background-color: rgb(33, 37, 41);
}
/*Configuração do index*/
#carrosel{
	text-align: center;
	padding: 10px; 
	background-color: rgb(33, 37, 41);
}
#subT{
	text-align: center;
	background-color: rgb(33, 37, 41);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-size: medium;
}
#titulo{
	background-color: rgb(33, 37, 41);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	text-align: center;
}
#feed{
	background-color: rgb(33, 37, 41);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	text-align: justify;
}